<h4>Add Todo</h4>
<div class="container my-4">
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="desc">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>